<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{!-- {{#if devoured}}That was too good...!{{else}}EAT ME...!{{/if}} --}}
		click here to <strong>DEVOUR</strong>
	</button>
</li>